<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="../css/style.css" rel="stylesheet">
</head>

<body style="overflow: hidden;">
  <div class="register-container">
    <h2>Register</h2>
    <form id="registerForm" action="/register" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="mail" id="email" name="email" placeholder="Enter your email" required
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      {{if .SuccessMessage}}
      <p style="color: green" id="successMessage">{{.SuccessMessage}}</p>
      <p style="color: green" id="countdown"></p>
      {{end}}
      {{if .Error}}
      <div style="color:red;">
        <ul>
          {{range .Error}}
          <li>{{.}}</li>
          {{end}}
        </ul>
      </div>
      {{end}}
      <button type="submit" class="btn-login">Register</button>
    </form>
    <div class="footer">
      Already have an account? <a href="/login">Sign in</a>
    </div>
  </div>
  <script>
    const successMessage = document.getElementById('successMessage');
    const countdown = document.getElementById('countdown');
    if (successMessage) {
      let coundownTime = 5;
      const interval = setInterval(() => {
        coundownTime -= 1;
        countdown.textContent = `Redirecting to login in ${coundownTime} seconds...`;
        if (coundownTime <= 0) {
          clearInterval(interval);
          window.location.href = '/login';
        }
      }, 1000);
    }
  </script>
</body>
</html>